.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: #E6E6E6;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
    /* background-color: #297373; */
}

.tetromino {
    background-color: #e9d758;
}

#mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #E6E6E6;
    border: 2px solid;
    margin-left: 50px;
}

#mini-grid div {
    height: 20px;
    width: 20px;
}